body {
    background-image: linear-gradient(#eeeeee, #ffffff);
    background-attachment: fixed;
    color: #666666;
    font-family: Verdana;
}
header {
    background-color: #003058;
    color: #FFFFFF;
    font-family: Georgia;
}
header h1 {
    line-height: 140%;
    padding: .5rem;
    padding-left: 1em;
    background-image: url(utahtechimages/utahtechlogo.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-origin: content-box;
    margin-bottom: 0;
}
nav {
    font-weight: bold;
    background-color: #F3F3F3;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
}
h2 {
    color: #424242;
    font-family: Georgia;
}
dt {
    color: #003058;
    font-weight: bold;
}
.ut {
    color: #BA1C21;
    font-weight: bold;
}
footer {
    font-size: 0.7rem;
    font-style: italic;
    text-align: center;
    padding: 1rem;
}
#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 0px 3px 3px rgba(66, 66, 66, 0.3);
}
h3 {
    color: #003058;
}
main {
    padding-left: 2rem;
    padding-right: 2rem;
}
#homehero {
    height: 300px;
    background-image: url(utahtechimages/homehero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#studenthero {
    height: 300px;
    background-image: url(utahtechimages/studenthero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#facultyhero {
    height: 300px;
    background-image: url(utahtechimages/facultyhero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
nav a {
    text-decoration: none;
}