* {
    font-family: "Exo 2", sans-serif;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    align-items: start;
    align-content: start;
    justify-items: stretch;
    flex: 1;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
footer {
    color: lightslategray;
    width: 100%;
    background-color: #f4f4f4;
}

nav {
    background-color: white;
    font-weight: bold;
    position: sticky;
    top: 0;
}
nav a {
    text-decoration: none;
    color: #000000;
    padding: 1rem 0rem;
    display: block;
    text-align: center;
}
nav a:hover {
    background-color: #2cd5ff;
}
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
}
nav ul li {
    border: solid;
    border-width: 2px 1px 2px 1px;
    width: 100%
}

header {
    grid-column: 1 / -1;
    color: white;
    font-size: 2em;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#indexhero {
    background-image: url(images/background.png);
}
#abouthero {
    background-image: url(images/aboutbackground.png)
}

img {
    max-width: 100%;
    height: auto;
}

#past-projects {
    grid-column: 1 / 3;
}
#current-projects {
    grid-column: 3 / 5;
}
#future-projects {
    grid-column: 5 / 7;
}

#theteam {
    grid-column: 1 / span 1;
    min-width: fit-content;
}
#about-mission {
    grid-column: 2 / -2;
    display: flex;
    flex-direction: column;
}
#poetry {
    grid-column: -2 / -1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s ease;
}
#poetry div {
    color: #4af626;
    background-color: black;
}
#poetry.show {
    opacity: 1;
    visibility: visible;
}

.text-box {
    border: solid;
    border-radius: 20px;
    margin: 10px;
    padding: 5px;
}
.text-box h3 {
    text-align: center;
    margin-top: 2px;
}
.img-box {
    border: solid;
    border-radius: 20px;
    margin: 10px;
    max-width: 90%;
}
footer {
    text-align: center;
    width: 100%;

}
@media only screen and (max-width: 1200px) {
header {
    height: 150px;
}
}

@media only screen and (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }
    section {
        grid-column: 1 !important;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    section .text-box {
        width: 90%;
    }
    header {
        font-size: 1.5em;
        height: auto;
    }
}