* {
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(#eeeeee, #ffffff);
    background-attachment: fixed;
    color: #666666;
    font-family: Verdana;
    margin: 0px;
}
video {
    float: right;
    margin-left: 2em;
}
header {
    background-color: #003058;
    color: #FFFFFF;
    font-family: Georgia;
    grid-row: 1 / 2;
    grid-column: 2 / 8;
}
header h1 {
    line-height: 140%;
    padding: .5rem;
    padding-left: 1em;
    background-image: url(utahtechimages/utahtechlogo.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-origin: content-box;
    margin: 0;
}
header a {
    text-decoration: none;
    color: #FFFFFF;
}
nav {
    font-weight: bold;
    background-color: #424242;
    position: sticky;
    top: 0;
    grid-area: 2 / 2 / 3 / 8;
}
nav a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 1rem 0rem;
    display: block;
    text-align: center;
    transition: background-color 0.5s;
    transition-timing-function: ease-out;
}
nav a:hover {
    background-color: #BA1C21;
}
nav ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
}
nav ul li {
    width: 100%
}
h2 {
    color: #424242;
    font-family: Georgia;
}
dt {
    color: #003058;
    font-weight: bold;
}
.ut {
    color: #BA1C21;
    font-weight: bold;
}
footer {
    font-size: 0.7rem;
    font-style: italic;
    text-align: center;
    padding: 1rem;
    grid-area: 5 / 2 / 6 / 8;
}
#wrapper {
    display: grid;
    grid-auto-rows: minmax(0px, auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0,175px)) minmax(0px, 1fr);
}
h3 {
    color: #003058;
}
main {
    padding-left: 2rem;
    padding-right: 2rem;
    grid-area: 4 / 2 / 5 / 8;
    background-color: #FFFFFF;
}
main img {
    float: right;
    padding-left: 2rem;
}
form {
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: 200px 1fr;
    row-gap: 0.75rem;
    width: 100%;
}
table {
    margin: 0 auto;
    border: solid;
    border-width: 1px;
    border-color: #424242;
    border-collapse: collapse;
}
tr:nth-of-type(2n) {
    background-color: #F3F3F3;
}
td, th {
    padding: 5px;
    border: solid;
    border-width: 1px;
    border-color: #424242;
}
td {
    text-align: center;
}
.text {
    text-align: left;
}
input, textarea {
    font-size: 1rem;
    padding: 10px;
    color: #666666;
    background-color: #fafafa;
    border: none;
}
input:focus, textarea:focus {
    outline: none;
    background-color: #f0f0f0;
}
label {
    padding: 10px;
    text-align: right;
}
#mySubmit {
    width: 10rem;
    grid-column: 2 / 3;
}
#homehero {
    height: 300px;
    background-image: url(utahtechimages/homehero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: 3 / 1 / 4 / 9;
}
#studenthero {
    height: 300px;
    background-image: url(utahtechimages/studenthero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: 3 / 1 / 4 / 9;
}
#facultyhero {
    height: 300px;
    background-image: url(utahtechimages/facultyhero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: 3 / 1 / 4 / 9;
}
#shophero {
    height: 300px;
    background-image: url(utahtechimages/shophero-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: 3 / 1 / 4 / 9;
}
#alumnihero {
    height: 300px;
    background-image: url(utahtechimages/alumnihero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: 3 / 1 / 4 / 9;
}
#bluebar {
    background-color: #003058;
    grid-area: 1 / 1 / 2 / 9;
}
#greybar {
    background-color: #424242;
    grid-area: 2 / 1 / 3 / 9;
}
#shoppingcart {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#shoppingcart img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 1100px) {
    #wrapper {
        grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0,150px)) minmax(0px, 1fr);
    }
}

@media only screen and (max-width: 900px) {
    #shoppingcart {
        grid-template-columns: 1fr 1fr;
    }
    video {
        float: none;
        margin: 0;
        width: 100%;
        height: auto;
    }
    nav {
        grid-area: 2 / 1 / 3 / 5;
        position: static;
    }
    nav ul {
        flex-flow: column nowrap;
    }

    #homehero {
        grid-area: 2 / 5 / 3 / 8;
        height: auto;
    }
    #studenthero {
        grid-area: 2 / 5 / 3 / 8;
        height: auto;
    }
    #facultyhero {
        grid-area: 2 / 5 / 3 / 8;
        height: auto;
    }
    #alumnihero {
        grid-area: 2 / 5 / 3 / 8;
        height: auto;
    }
    #shophero {
        grid-area: 2 / 5 / 3 / 8;
        height: auto;
    }
    main img {
        float: none;
        width: 100%;
        height: auto;
        padding-left: 0px;
    }
}

@media only screen and (max-width: 600px) {
    #shoppingcart {
        grid-template-columns: 1fr;
    }
    header h1 {
        background-image: none;
        text-align: center;
    }
    nav {
        grid-area: 2 / 1 / 3 / 9;
    }

    #homehero {
        display: none;
    }
    #studenthero {
        display: none;
    }
    #facultyhero {
        display: none;
    }
    #alumnihero {
        display: none;
    }
    #shophero {
        display: none;
    }
}